.white-key {
  background-color: rgb(255, 255, 255);
  border: solid 1px rgb(99, 99, 99);
  border-radius: 0px 0px 5px 5px;
  height: 250px;
  width: 45px;
  z-index: 1;

  margin-left: -20px;

  box-shadow: 0px 3px 2px #535353;
}

.black-key {
  background-color: rgb(0, 0, 0);
  border: solid 1px rgb(57, 0, 110);
  border-radius: 0px 0px 5px 5px;
  height: 150px;
  width: 35px;
  z-index: 2;

  margin-left: -15px;

  box-shadow: 0 0 5px #515151;
}

.white-key:hover .majorNoteName {
  margin-top: 225px;
}
.white-key:hover, .enterHoverWhite {
  background-color: rgb(152, 231, 255);
  box-shadow: 0 0 0 #ffffff;
  height: 245px;
}

.black-key:hover .sharpNoteName {
  margin-top: 125px;
}
.black-key:hover, .enterHoverBlack {
  background-color: rgb(69, 40, 107);
  height: 145px;
  box-shadow: 0 0 0;
}

.hasNoSharp {
  margin-right: 22px !important;
}

.sharpNoteName {
  color: rgb(255, 255, 255);
  font-size: medium;
  text-align: center;
  margin-top: 130px;
}

.majorNoteName {
  color: rgb(0, 0, 0);
  font-size: medium;
  text-align: center;
  margin-top: 230px;
}

.enterHoverWhite .majorNoteName {
  margin-top: 225px;
}
.enterHoverBlack .sharpNoteName {
  margin-top: 125px;
}
